In [1]:
import pandas as pd
import pandas_datareader.data as web

In [2]:
def get_data(ticker):
    data = web.get_data_yahoo(ticker, start='01/03/2000', end='04/30/2021', interval='w')['Adj Close'].to_frame()
    data.columns = [ticker]
    return data

In [3]:
etf_list = ['SPY', 'XLK', 'XLY', 'XLV', 'XLF', 'XLI', 'XLP', 'XLU', 'XLC', 'XLRE', 'XLB', 'XLE']

In [4]:
spy = get_data('SPY')
xlk = get_data('XLK')
xly = get_data('XLY')
xlv = get_data('XLV')
xlf = get_data('XLF')
xli = get_data('XLI')
xlp = get_data('XLP')
xlu = get_data('XLU')
xlc = get_data('XLC')
xlre = get_data('XLRE')
xlb = get_data('XLB')
xle = get_data('XLE')

In [5]:
merge = pd.merge(spy, xlk, how='outer', on='Date')
merge = pd.merge(merge, xly, how='outer', on='Date')
merge = pd.merge(merge, xlv, how='outer', on='Date')
merge = pd.merge(merge, xlf, how='outer', on='Date')
merge = pd.merge(merge, xli, how='outer', on='Date')
merge = pd.merge(merge, xlp, how='outer', on='Date')
merge = pd.merge(merge, xlu, how='outer', on='Date')
merge = pd.merge(merge, xlc, how='outer', on='Date')
merge = pd.merge(merge, xlre, how='outer', on='Date')
merge = pd.merge(merge, xlb, how='outer', on='Date')
merge = pd.merge(merge, xle, how='outer', on='Date')
merge

,SPY,XLK,XLY,XLV,XLF,XLI,XLP,XLU,XLC,XLRE,XLB,XLE
Date,,,,,,,,,,,,
2000-01-03,98.035896,39.401890,23.565084,21.789074,12.183301,19.865742,14.835259,12.848641,NaN,NaN,16.884306,16.929771
2000-01-10,98.855675,40.850494,23.239798,23.468674,12.654429,19.612143,14.702116,12.607594,NaN,NaN,16.336554,16.920353
2000-01-17,97.152992,41.429932,22.275993,23.354418,11.819621,19.157764,14.198093,13.031259,NaN,NaN,15.289085,17.542141
2000-01-24,91.393669,37.808426,20.818230,22.120422,11.869215,18.259579,13.884278,12.351935,NaN,NaN,14.433817,16.091284
2000-01-31,95.912926,41.816227,21.637466,23.137327,11.943604,18.333553,13.827217,12.673333,NaN,NaN,14.404995,15.865180
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-29,400.609985,135.479996,169.419998,116.389999,34.470001,98.779999,67.980003,63.980000,74.580002,40.119999,79.489998,50.310001
2021-04-05,411.489990,141.770004,175.979996,117.949997,35.150002,100.510002,68.919998,64.820000,76.919998,40.340000,80.050003,48.189999
2021-04-12,417.260010,143.300003,179.869995,121.480003,35.400002,101.139999,69.809998,67.209999,76.839996,41.400002,82.660004,48.400002
2021-04-19,416.739990,142.699997,177.820007,123.680000,35.380001,101.559998,69.570000,66.580002,76.449997,42.240002,82.910004,47.540001
2021-04-26,417.299988,139.699997,178.919998,121.330002,36.259998,101.930000,69.580002,66.720001,78.050003,42.770000,83.040001,49.389999

In [6]:
merge.to_csv('spydata.csv', index='Date')